<div>
    <h2 data-translate="myappApp.seller.home.title">Sellers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="seller.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="myappApp.seller.home.createLabel">
                        Create new Seller
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="myappApp.seller.name">Name</span></th>
                    <th><span data-translate="myappApp.seller.account">Account</span></th>
                    <th><span data-translate="myappApp.seller.sells">Sells</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="seller in vm.sellers track by seller.id">
                    <td><a ui-sref="seller-detail({id:seller.id})">{{seller.id}}</a></td>
                    <td>{{seller.name}}</td>
                    <td>{{seller.account}}</td>
                    <td>
                        <span ng-repeat="sells in seller.sells">
                            <a class="form-control-static" ui-sref="item-detail({id: sells.id})">{{sells.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="seller-detail({id:seller.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="seller.edit({id:seller.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="seller.delete({id:seller.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
